# Base de datos local (PostgreSQL)
DATABASE_URL="postgresql://postgres:12345@localhost:5432/base_datos_ventas"

# Base de datos en la nube (Neon.tech opcional)
NEON_DATABASE_URL="postgresql://neondb_owner:TU_PASSWORD@ep-round-dawn-aexfn52a-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require"

PORT=5000
BASE_PATH="/"
JWT_SECRET="genera_tu_clave_secreta_aqui"
VITE_API_URL="http://localhost:5000/api"

# Configuración de Correo SMTP para envío de Boletas
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE="false"
SMTP_USER="tu-correo@gmail.com"
SMTP_PASSWORD="tu-contraseña-de-aplicacion"
SMTP_FROM="tu-correo@gmail.com"
